body {
    position: relative;
}

h1,h2,h3 {
    color: lightsalmon;
}

img {
    padding: 15px;
    border-style: dashed;
    border-width: 5px;
    border-color: lightsalmon;
}

.cover-photo {
    margin-left: 25px;
    margin-top: 50px;
    width: 450px;
    height: auto;
}

#selfie {
    max-width: 400px;
    max-height: auto;
}

nav {
    background-color: lightsalmon;
}

ul.nav {
    position: fixed;
    top: 50px;
}

div a{
    color: coral;
}

div a:hover {
    color: chocolate;
}

p {
    text-indent: 20px;
}

.border-warning {
    border-radius: 35px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

nav a {
    color: white;
    font-size:1.5vw
}

span {
    color: peru;
    font-size: smaller;
}

nav a:hover {
    color: peachpuff;
}

div.col-9 div {
    height: 800px;
}
