body {
    position: relative;
}

h1,h2,h3,h4 {
    color: lightsalmon;
}

.cover-photo {
    margin-top: 40px;
    margin-left: 25px;
    width: 350px;
    height: auto;
}

img {
    border-style: solid;
    border-radius: 20px;
    border-color: lightsalmon;
    padding: 5px;
}

#selfie {
    margin-left: 40px;
    max-width: 400px;
    max-height: auto;
}

span {
    font-size: x-large;
    color: rgb(255, 169, 98);
}

nav {
    background-color: lightsalmon;
}

ul.nav {
    position: fixed;
    top: 50px;
}

div a{
    color: salmon;
}

div a:hover {
    color: chocolate;
}

.contact-box {
    padding-top: 20px;
    padding-left: 150px;
}

.border-warning {
    border-radius: 20px;
    border-width: 60px;
}

nav a {
    color: white;
    font-size:1.5vw
}

h6 span {
    color: peru;
    font-size: smaller;
}

nav a:hover {
    color: peachpuff;
}

div.col-9 div {
    height: fit-content;
}
